<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>406422499839-edcgpg87urpdqf6cgfg2ls2mjjog8chf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.406422499839-edcgpg87urpdqf6cgfg2ls2mjjog8chf</string>
	<key>API_KEY</key>
	<string>AIzaSyDD6NiJWhzOAchT_klxM8_vWyQB6gbwpS8</string>
	<key>GCM_SENDER_ID</key>
	<string>406422499839</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.calpoly.FinalProj</string>
	<key>PROJECT_ID</key>
	<string>finalproj-a0e82</string>
	<key>STORAGE_BUCKET</key>
	<string>finalproj-a0e82.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:406422499839:ios:25db48eac7de1a48</string>
	<key>DATABASE_URL</key>
	<string>https://finalproj-a0e82.firebaseio.com</string>
</dict>
</plist>
